@import './node_modules/bulma/css/bulma.css';
@import './node_modules/bulma-extensions/bulma-divider/dist/css/bulma-divider.min.css';


figure {
    border: 1px solid rgb(175, 175, 175);
    border-radius: 2px;
}

.has-text-info {
    font-size: 25px;
}

footer {
    margin-top: 60px;
    padding: 20px 0;
}

strong {
    color: white;
    font-weight: 300;
}
